<h3 id="<%= id = 'schema-' + title; id.parameterize %>"><%= title %></h3>
<%= markdown(schema.description) %>
<% if properties.any? %>
<table>
<thead>
<tr><th>Name</th><th>Type</th><th>Required</th><th>Description</th><th>Schema</th></tr>
</thead>
<tbody>
<% properties.each do |property| %>
<tr>
<td><%= property[0] %></td>
<td><%= property[1].type %></td>
<td><%= property[1].required.present? %></td>
<td><%= markdown(property[1].description) %></td>
<td>
  <%=
  schema = property[1]
  # If property is an array, check the items property for a reference.
  if property[1].type == 'array'
    schema = property[1]['items']
  end
  # Only print a link if it's a referenced object.
  get_schema_link(schema) if schema.node_context.referenced_by.to_s.include? '#/components/schemas' and !schema.node_context.source_location.to_s.include? '/properties/' %>
</td>
</tr>
<% end %>
</tbody>
</table>
<% end %>
