<% if current_page_review.under_review? && current_page_review.show_review_banner? %>
  <div data-module='page-expiry' data-last-reviewed-on="<%= current_page_review.review_by %>">
    <div class='page-expiry--<%= current_page_review.show_expiry? ? "not-expired" : "default" %>'>
      This page was last reviewed on <%= format_date current_page_review.last_reviewed_on %>.

      <% if current_page_review.show_expiry? %>
        It needs to be reviewed again on <%= format_date current_page_review.review_by %>
        <% if current_page_review.owner_slack %>
        by the page owner <%= link_to current_page_review.owner_slack, current_page_review.owner_slack_url %>
        <% end %>.
      <% end %>
    </div>

    <% if current_page_review.show_expiry? %>
    <div class='page-expiry--expired'>
      This page was set to be reviewed before <%= format_date current_page_review.review_by %><% if current_page_review.owner_slack %>
       by the page owner <%= link_to current_page_review.owner_slack, current_page_review.owner_slack_url %><% end %>.
      This might mean the content is out of date.
    </div>
    <% end %>
  </div>
<% end %>
