<h1 id="<%= api.name.parameterize %>">
  <% if api.name.include? "API" %>
    <%= api.name %>
  <% else %>
    <%= api.name + " API" %>  
  <% end %>
</h1>

<% if api.description.present? %>
  <%= render_markdown(unescape_newlines(api.description)) %>
<% end %>

<% if api.url.present? %>
  <p>
    The API endpoint is <code><%= api.url %></code>.
  </p>
<% end %>

<% if api.documentation.present? %>
  <p>
  <% if api.name.include? "API" %>
    Read the <%= link_to(api.name + " documentation", api.documentation) %>.
  <% else %>
    Read the <%= link_to(api.name + " API documentation", api.documentation) %>.
  <% end %>
  </p>
<% end %>

<% if api.area_served.present? or api.start_date.present? or api.end_date.present? %>
  <p>
    This API:
  </p>
  
  <ul>
  
    <% if api.area_served.present? %>
      <li>
        covers <%= escape_html(api.area_served) %>
      </li>
    <% end %>

    <% if api.start_date.present? %>
      <li>
        went live on <%= api.start_date.to_formatted_s(:rfc822) %>
      </li>
    <% end %>

    <% if api.end_date.present? %>
      <li>
        closed on <%= api.end_date.to_formatted_s(:rfc822) %>
      </li>
    <% end %>

  </ul>
  
<% end %>

<% if api.maintainer.present? %>
  <h2>Contact</h2>
  <p>
    <%= escape_html(api.maintainer) %>
  </p>
<% end %>

<% if api.license.present? %>
  <h2>Licence</h2>
  <p>
    <%= escape_html(api.license) %>
  </p>
<% end %>

</ul>
